# For local installation link this file into $HOME/.local/applications
# and exit the paths in the last three entries
[Desktop Entry]
Version=1.0
Type=Application
Name=PoProofRead
Comment=A proofreader program for .po and .podiff files
Categories=Development;Translation;
MimeType=text/x-poproofread
# Local installation, edit here
Exec=/home/foo/code/poproofread/poproofread/poproofread_gtk.py %f
Icon=/home/foo/code/poproofread/graphics/64.png
Path=/home/foo/code/poproofread/poproofread